.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/

checkpoints/
results/**/*.npy
results/**/*.json
results/**/*.csv
data/local/
data/reference/

*.pt
*.pth
*.npz
*.npy
*.dat
*.log
*.joblib
